[submodule "libs/glfw"]
	path = mukyunengine/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glad"]
	path = mukyunengine/libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libs/assimp"]
	path = mukyunengine/libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/glm"]
	path = mukyunengine/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/stb"]
	path = mukyunengine/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/freetype2"]
	path = mukyunengine/libs/freetype2
	url = https://git.savannah.nongnu.org/git/freetype/freetype2.git
